---
import ContainerRutas from "../components/ContainerRutas.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ciclo Family | Todas las rutas en bicicleta por Catalunya">
    <title>Ciclo Family | Descubre todas las rutas en bicicleta por Catalunya</title>
    <Header />
    <main class="max-w-7xl mx-auto mt-40">
        <ContainerRutas />
    </main>
</Layout>