@import "tailwindcss";

@theme {
    --color-page-100: #F1F1F1;
    --color-page-200: #292929;
    --color-page-300: #C1C1C1;
    --color-page-400: #AED5FF;
    --color-page-500: #3A4A5A;
    --color-page-600: #F7F7F7;

    --color-facil: #40E973;
    --color-moderada: #FD8E33;
    --color-dificil: #FF2F2F;
}