@import "tailwindcss";

@theme {
    --color-page-100: #edffe9;
    --color-page-200: #9dfc7e;
    --color-page-300: #3cc347;
    --color-page-400: #092f00;
    --color-page-500: #e3ffdd;

    --color-facil: #40E973;
    --color-moderada: #FD8E33;
    --color-dificil: #FF2F2F;
}