---
import MiniHeader from "../components/MiniHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ciclo Family | Todas las rutas en bicicleta por Catalunya">
    <title>Ciclo Family | Contacta con nosotros</title>
    <MiniHeader />
    <main class="max-w-7xl mx-auto">
    </main>
</Layout>