---
import EncuentraRuta from '../components/EncuentraRuta.astro';
import PorqueCicloFamily from '../components/PorqueCicloFamily.astro';
import RutasDestacadas from '../components/RutasDestacadas.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-7xl mx-auto">
		<EncuentraRuta />
		<RutasDestacadas />
		<PorqueCicloFamily />
	</main>
</Layout>