---
import EncuentraRuta from '../components/EncuentraRuta.astro';
import Header from '../components/Header.astro';
import PorqueCicloFamily from '../components/PorqueCicloFamily.astro';
import RutasDestacadas from '../components/RutasDestacadas.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ciclo Family | Rutas en bicicleta por Catalunya">
	<title>Ciclo Family | Las mejores rutas en bicicleta por Catalunya</title>
    <meta name="description" content="Descubre Ciclo Family, la web que reúne las mejores rutas en bicicleta por Catalunya, ideales para toda la familia. Encuentra tu próxima aventura sobre dos ruedas." />
    <meta name="keywords" content="rutas en bicicleta, rutas familiares, ciclismo en Catalunya, turismo en bicicleta, Ciclo Family" />
    <meta property="og:title" content="Ciclo Family | Las mejores rutas en bicicleta por Catalunya" />
    <meta property="og:description" content="Explora rutas en bicicleta ideales para familias, disfruta del ciclismo en Catalunya con Ciclo Family." />
    <meta property="og:image" content="/images/portada_ciclo_family.jpg" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Ciclo Family | Las mejores rutas en bicicleta por Catalunya" />
    <meta name="twitter:description" content="Descubre rutas familiares en bicicleta por Catalunya con Ciclo Family." />
    <meta name="twitter:image" content="/images/portada_ciclo_family.jpg" />
	<Header />
	<main class="max-w-7xl mx-auto">
		<!-- <EncuentraRuta /> -->
		<RutasDestacadas />
		<PorqueCicloFamily />
	</main>
</Layout>