---
import ContainerRutas from "../components/ContainerRutas.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ciclo Family | Rutas">
    <main class="max-w-7xl mx-auto">
        <ContainerRutas />
    </main>
</Layout>