---
import ContainerRutas from "../components/ContainerRutas.astro";
import MiniHeader from "../components/MiniHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ciclo Family | Todas las rutas en bicicleta por Catalunya">
    <title>Ciclo Family | Descubre todas las rutas en bicicleta por Catalunya</title>
    <meta name="description" content="Explora todas las rutas en bicicleta por Catalunya con Ciclo Family. Encuentra rutas para toda la familia, adaptadas a diferentes niveles y destinos." />
    <meta name="keywords" content="rutas en bicicleta, rutas familiares, ciclismo en Catalunya, turismo en bicicleta, Ciclo Family, rutas para todos los niveles" />
    <meta property="og:title" content="Ciclo Family | Descubre todas las rutas en bicicleta por Catalunya" />
    <meta property="og:description" content="Ciclo Family te ofrece una selección de rutas en bicicleta ideales para disfrutar con la familia en Catalunya." />
    <meta property="og:image" content="/images/rutas_portada.jpg" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Ciclo Family | Todas las rutas en bicicleta por Catalunya" />
    <meta name="twitter:description" content="Encuentra la ruta perfecta para ti y tu familia con Ciclo Family." />
    <meta name="twitter:image" content="/images/rutas_portada.jpg" />
    <MiniHeader />
    <main class="max-w-7xl mx-auto">
        <div class="h-1" />
        <ContainerRutas />
    </main>
</Layout>