<a href="/rutas" class="flex items-center justify-around ml-4 md:ml-0 xl:mx-52 text-green-800 bg-page-200 border border-page-400 hover:bg-page-400 font-medium rounded-full text-xs md:text-sm px-2 py-1 me-2 mb-2 w-32 md:w-40 transition hover:scale-105">
    <img class="size-6 md:size-8" src="/icons/volver.svg" alt="Icono para volver al inicio de la página">
    <span>Volver a rutas</span>
</a>