<section class="text-center mx-4">
    <h2 class="text-3xl text-pretty mt-16 mb-12 font-bold text-lime-900">Encuentra tu Próxima Ruta</h2>
    <search>
        <form class="flex gap-4 items-center justify-between max-w-96 mx-auto">
            <input class="h-10 w-48 md:w-56 px-4 border-2 border-[#141414] rounded-lg focus:outline-none focus:ring-2 focus:ring-lime-700 focus:scale-105 focus:border-transparent transition" id="search-box" type="search" placeholder="Ejemplo: Guanta" name="ruta" required>
            <button class="flex items-center text-lg font-medium bg-page-300 px-4 py-2 rounded-full hover:scale-105 transition" type="submit"><img class="size-6 mr-1 md:mr-4" src="/icons/buscar.svg">Buscar</button>
        </form>
    </search>
</section>