---
import Buscador from "./Buscador.astro";
---

<section class="text-center mx-4">
    <h2 class="text-3xl text-pretty mt-16 mb-12 font-bold text-lime-900">Encuentra tu Próxima Ruta</h2>
    <Buscador class="h-10 w-48 md:w-56" />
</section>
