<header class="h-[390px] md:h-[520px] bg-[url(/Banner.png)] bg-cover bg-opacity-5 -mt-26 mb-6 text-white">
    <section class="w-full sm:w-96 text-center md:mx-0 mx-auto inline-grid relative top-24 md:top-44 md:left-[20%] backdrop-blur-sm px-7 py-5 rounded-xl backdrop-brightness-75">
        <p class="mb-4 text-4xl font-semibold">Bienvenido a Ciclo Family</p>
        <p class="mb-8 text-xl font-medium">Descubre las mejores rutas en bicicleta para toda la familia.</p>
        <a class="bg-page-400 text-black mx-auto px-4 py-2 hover:bg-page-500 hover:text-white rounded-lg text-lg transition" href="/rutas">Explorar Rutas</a>
    </section>
</header>