<section class="text-center">
    <h2 class="text-3xl text-pretty text-center mb-14 font-bold text-page-400">¿Por qué elegir Ciclo Family?</h2>
    <div class="flex flex-col md:flex-row justify-around gap-y-8 gap-x-16 text-black">
        <article class="max-w-96 mx-auto">
            <h4 class="text-xl font-semibold mb-3">Rutas Seguras</h4>
            <p class="text-lg mx-4">Todas nuestras rutas están cuidadosamente seleccionadas para garantizar la seguridad de toda la familia.</p>
        </article>
        <article class="max-w-96 mx-auto">
            <h4 class="text-xl font-semibold mb-3">Variedad de Opciones</h4>
            <p class="text-lg mx-4">Desde paseos tranquilos hasta rutas más desafiantes, tenemos opciones para todos los niveles.</p>
        </article>
        <article class="max-w-96 mx-auto">
            <h4 class="text-xl font-semibold mb-3">Información Detallada</h4>
            <p class="text-lg mx-4">Proporcionamos información completa sobre cada ruta, incluyendo dificultad, duración y puntos de interés.</p>
        </article>
    </div>
</section>