---
interface Props {
	title: string;
}

import '@fontsource-variable/montserrat';
// import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import SpeedInsights  from "@vercel/speed-insights/astro"
import Analytics from '@vercel/analytics/astro'

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="G5nl4VQUvHU_DD7UoGnpyiq8y4RJS9RGQ0JikrB8G_M" />
		<link rel="icon" href="/favicon.jpg" />
		<title>{title}</title>
	</head>
	<body>
		<!-- <Header /> -->
		<slot />
		<Footer />
		<ClientRouter />
		<SpeedInsights />
		<Analytics />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Montserrat Variable', system-ui, sans-serif;
		background: #edffe9;
		scroll-behavior: smooth;
	}
</style>
